*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}
header{
    display: grid;
    grid-template-rows: 1fr;
    background-color: #3162aa;
    padding: 1rem;
    color: #FFF;
}

.header-title{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.general-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 150vh;
}

.nav-bar-container{
    display: flex;
    align-items: flex-start;
    width: 15%;
    height: 160vh;
    background-color: #DDD;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.list-container{
    gap: 1rem;
}

.title-category{
    display: inline-block;
    margin: 1rem;
}

.title-categoria{
    font-size: 1.5rem ;
    color: #000;
}

.category-text{
    display: inline;
    font-size: 1.25rem;
}

.categorys-container{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem ;
    
}

.stock-text{
    color: #888;
    display: inline;
}

.products-container{
    width: 85%;
    background-color: #DDD;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    /* grid-auto-rows:%; */
    gap: 2rem;
    height: 144vh;
}

.card-article{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 3px;

    overflow: hidden;
    justify-content: space-between;
}
.img-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 360px;
}
img{
    display: flex;
    justify-content: center;
}

.card-content-title{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.card-content-price{
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.comprar-button{
    display: flex;
    background-color: #3162aa;
    color: #FFF;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.10rem;
}

footer{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    overflow: visible;
    background-color: #FFF;
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    
}